body{
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.navbar{
    background-color: gainsboro;
    text-align: right;
    padding-right: 50px;
}

.botoes{
    list-style: none;
    padding-left: none;
    display: inline-block;
}

#a, #b, #c, #d{
    display: inline-block;
    margin: auto 2px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px;
}

a:hover{
    color:brown;
    background-color: darkgrey;
}

.inicio{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#foto{
    box-shadow: 5px 5px 20px 1px black;
    vertical-align:middle;
}

#sobre-mim{
    text-align: left;
    display: inline-block;
    background-color:gainsboro;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px 20px 1px black;
}

.principal{
    text-align: left;
    background-color:gainsboro;
    width: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    box-shadow: 5px 5px 20px 1px black;
}

#detalhes{
    display: inline-block;
    align-items: center;
}

.footer{
    background-color: gainsboro;
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%;
}

#contato{
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.links-contato{
    font-weight: normal;
    padding: 0;
}

.links-contato:hover{
    color: black;
    background-color: transparent;
    font-weight: normal;
}


.projetos{
    text-align: left;
    padding: 0;
    display: grid;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vh 110vh;
    gap: 20px;
}

.header{
    grid-column-start: 1;
    grid-column-end: 4;
}

.main{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;


}

.aside-left{
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    background-color: gainsboro;
    border-radius: 10px;
    border-color: black;
    box-shadow: 5px 5px 20px 1px black;
}


.footer{
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 9;
}

.voltar, .pesquisarprojeto{
    display: inline-block;
}

.float-button{
    height: 40px;
    width: 40px;
    background-color: blue;
    color: whitesmoke;
    border-radius: 10000px;
    cursor: pointer;
    border-width: 0;

    position: fixed;
    bottom: 50px;
    right: 50px;
}